{{ define "content"}}

<div role="main" class="main">

	<section class="section border-0 m-0 pb-3">
		<div class="container">
			<div class="row pb-1">

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-46.jpg" class="img-fluid"
										alt="How To Take Better Concert Pictures in 30 Seconds">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Photography</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">How
												To Take Better Concert Pictures in 30 Seconds</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-47.jpg" class="img-fluid"
										alt="Gadgets That Make Your Smartphone Even Smarter">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Gadgets</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">
												Gadgets That Make Your Smartphone Even Smarter</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-48.jpg" class="img-fluid"
										alt="20 Top-Rated Tourist Attractions in Manhattan">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Travel</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">20
												Top-Rated Tourist Attractions in Manhattan</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-49.jpg" class="img-fluid"
										alt="The Best Way to Ride a Motorcycle">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Lifestyle</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">The
												Best Way to Ride a Motorcycle</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-50.jpg" class="img-fluid"
										alt="5 Fun Things to Do at the Beach">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Travel</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">5
												Fun Things to Do at the Beach</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

				<div class="col-sm-6 col-lg-4 mb-4 pb-2">
					<a href="blog-post.html">
						<article>
							<div
								class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
								<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
									<img src="/assets/frontend/img/blog/default/blog-51.jpg" class="img-fluid"
										alt="Amazingly Fresh Fruit And Herb Drinks For Summer">
									<div class="thumb-info-title bg-transparent p-4">
										<div class="thumb-info-type bg-color-primary px-2 mb-1">Recipes</div>
										<div class="thumb-info-inner mt-1">
											<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">
												Amazingly Fresh Fruit And Herb Drinks For Summer</h2>
										</div>
										<div class="thumb-info-show-more-content">
											<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Euismod
												atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad
												litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</a>
				</div>

			</div>
		</div>
	</section>

	<div class="container py-4">

		<div class="row">
			<div class="col-lg-3 order-lg-2">
				<aside class="sidebar">
					<form action="page-search-results.html" method="get">
						<div class="input-group mb-3 pb-1">
							<input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
							<button type="submit" class="btn btn-dark text-1 p-2"><i
									class="fas fa-search m-2"></i></button>
						</div>
					</form>
					<h5 class="font-weight-semi-bold pt-4">Categories</h5>
					<ul class="nav nav-list flex-column mb-5">
						<li class="nav-item"><a class="nav-link" href="#">Design (2)</a></li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Photos (4)</a>
							<ul>
								<li class="nav-item"><a class="nav-link" href="#">Animals</a></li>
								<li class="nav-item"><a class="nav-link active" href="#">Business</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Sports</a></li>
								<li class="nav-item"><a class="nav-link" href="#">People</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Videos (3)</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Lifestyle (2)</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Technology (1)</a></li>
					</ul>
					<div class="tabs tabs-dark mb-4 pb-2">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link show active text-1 font-weight-bold text-uppercase"
									href="#popularPosts" data-bs-toggle="tab">最热</a></li>
							<li class="nav-item"><a class="nav-link text-1 font-weight-bold text-uppercase"
									href="#recentPosts" data-bs-toggle="tab">最新</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="popularPosts">
								<ul class="simple-post-list">
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-11.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Nullam Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-24.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-42.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Odiosters Nullam Vitae</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="tab-pane" id="recentPosts">
								<ul class="simple-post-list">
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-24.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-42.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Odiosters Nullam Vitae</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="blog-post-sidebar-right.html">
													<img src="/assets/frontend/img/blog/square/blog-11.jpg" width="50"
														height="50" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post-sidebar-right.html">Nullam Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
												Nov 10, 2022
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<h5 class="font-weight-semi-bold pt-4">About Us</h5>
					<p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales
						in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus
						id sodales in, auctor fringilla libero. </p>
				</aside>
			</div>
			<div class="col-lg-9 order-lg-1">
				<div class="blog-posts">

					<div class="masonry-loader masonry-loader-showing">
						<div class="masonry row" data-plugin-masonry
							data-plugin-options="{'itemSelector': '.masonry-item'}">


							{{range $i, $p := .posts}}

							<div class="masonry-item no-default-style col-sm-6">
								<article class="post post-medium border-0 pb-0 mb-5">
									<div class="post-image">
										<a href="/post/{{$p.ID}}" target="_blank">
											<img src="{{$p.Thumbnail}}"
												class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
												alt="" />
										</a>
									</div>

									<div class="post-content">

										<h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a
												href="/post/{{$p.ID}}" target="_blank">{{$p.Title}}</a></h2>
										<p>{{$p.Summary}}</p>

										<div class="post-meta">
											<span><i class="far fa-user"></i> By <a href="#">罗振坤</a> </span>
											<span><i class="far fa-folder"></i> 
												<a href="#">{{$p.Tags}}</a>, 
												<a href="#">Design</a> </span>
											<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
											<span class="d-block mt-2"><a href="/post/{{$p.ID}}"
													class="btn btn-xs btn-light text-1 text-uppercase">阅读更多...</a></span>
										</div>

									</div>
								</article>
							</div>

							{{end}}



						</div>
					</div>

					<div class="row">
						<div class="col">
							<ul class="pagination float-end">
								<li class="page-item"><a class="page-link" href="#"><i
											class="fas fa-angle-left"></i></a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#"><i
											class="fas fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>

{{end}}